@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: smaller;
  max-width: 200vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./Images/pixelcloud.png);
}

.App-link {
  color: #61dafb;
}

.red-text{
  color: #883229;
  padding: 1rem;
}
.orange-bg{
  background-color: #AE8C6C;
}
.yellow-bg{
  background-color: #c2a75c;
}
.green-bg{
  background-color: rgba(53, 119, 97, 0.815);
}
.blue-bg{
  background-color: rgba(74, 100, 148, 0.815);
}


